@font-face {
    font-family: "Roboto";
    src: url("./src/Roboto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    overflow-x: hidden;
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    line-height: 5vw;
    text-align: center;
    text-transform: uppercase;
    
    background-color: #565656;
    color: #474040;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
}

nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    min-height: 10vh;
    color: white;
    fill: white;
    align-items: center;
    z-index: 3;

    .nav-links{
        display: flex;
        justify-content: space-around;
        
        li{
            list-style: none;
        }
        a{
            list-style: none;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 15px;
            color: white;
        }
    }

    .logo{
        width: 15vw;
        height: auto;
    }

    .hamburger{
        display: flex;
    }
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home{
    background: radial-gradient(50% 100% at 50% 0%, #FFFFFF 0%, #939393 100%);

    .content{
        height: 100%;
        width: 100%;
        position: relative;
    
        img{
            position: absolute;
            width: 60vw;
            height: auto;
            top: 40%;
            left: 35%;
            transform: translate(-35%, -40%);
        }
    
        h1{
            position: absolute;
            width: 50vw;
            font-size: 5vw;
            line-height: 5vw;
            top: 40%;
            left: 10%;
            transform: translate(-10%, -40%);
            z-index: 2;
            pointer-events: none;
        }
    
        button{
            position: absolute;
            align-self: center;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            font-size: 1em;
            color: white;
            font-weight: bold;
            top: 80%;
            width: 45vw;
            height: 6vh;
            background: radial-gradient(100% 100% at 0% 0%, #420E0F 0%, #2A0001 100%);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(255, 255, 255, 0.08);
            border-radius: 50px;
    
            display: none;
        }
    
        button:after {
            content: "";
            position: absolute;
            top: -110%;
            left: -210%;
            width: 200%;
            height: 200%;
            opacity: 0;
            transform: rotate(30deg);
            
            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(
              to right, 
              rgba(255, 255, 255, 0.13) 0%,
              rgba(255, 255, 255, 0.13) 77%,
              rgba(255, 255, 255, 0.5) 92%,
              rgba(255, 255, 255, 0.0) 100%
            );
        }
    
        button:hover:after {
            opacity: 1;
            top: -30%;
            left: -30%;
            transition-property: left, top, opacity;
            transition-duration: 0.7s, 0.7s, 0.15s;
            transition-timing-function: ease;
        }
    
        button:active:after {
            opacity: 0;
        }
    
        p{
            display: none;
            position: relative;
            top: 87%;
            font-size: 0.5em;
            align-self: center;
    
        }
    }
}

#functions{
    background: linear-gradient(179.03deg, #939393 1.16%, #D2C2C2 97.01%);

    display: flex;
    flex-direction: row;

    .content{
        position: absolute;
        display: flex;
        align-items: center;
    }

    .headline{
        position: relative;
        align-self: center;
        width: 50vw;
        font-size: 5vw;
        line-height: 5vw;
        top: -25vw;
        z-index: 2;
        pointer-events: none;
    }

    .phone{
        display: flex;

        img{
            display: flex;
            width: 30vw;
            height: auto;
            margin-right: 60vw;
            margin-top: 30vw;
        }
    }

    .slides{
        position: absolute;
        width: 30vw;
        height: 30vw;
        background: radial-gradient(100% 100% at 0% 0%, #434343 0%, #0B0B0B 100%);
        box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
        border-radius: 60px;
    }

    .next{
        margin-left: 15vw;
        width: 25vw;
        height: 25vw;

        img{
            position: absolute;
            top: 45%;
            right: 10%;
            width: 4vw;
            transform: translate(0%, -50%);
            transform: scaleX(-1);
            opacity: 0.5;
        }
    }

    .prev{
        margin-left: -10vw;
        width: 25vw;
        height: 25vw;

        img{
            position: absolute;
            top: 50%;
            left: 10%;
            width: 4vw;
            transform: translate(0%, -50%);
            opacity: 0.5;
        }
    }

    .slide{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 6vw;
            padding-top: 20%;
        }

        P{
            color: #FAFAFA;
            font-size: 1.2vw;
            text-align: center;
            padding-top: 10%;
            margin: 0 20%;
        }

        .title{
            font-size: 1.5vw;
        }
    }
}

#howto{
    background: linear-gradient(180deg, #D2C2C2 0%, #D5D5D5 100%);
}

#responsive{
    background: linear-gradient(180deg, #FFFFFF 0%, #D5D5D5 0.01%, #FFFFFF 100%);
}

#pricing{
    background: linear-gradient(180deg, #FFFFFF 0%, #7D7D7D 100%);
}

#faq{
    background: linear-gradient(180deg, #7D7D7D 0%, #0E0C0C 100%);
}

#footer{
    background: linear-gradient(180deg, #0E0C0C 0%, #171515 100%);
}



.pulsate {
	animation: pulsate-bck 8s ease-in-out infinite;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}


@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .close-icon{
        display: none;
    }

    .open .burger-icon{
        display: none;
    }

    .open .close-icon{
        display: block;
    }

    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-active{
        transform: translateX(0%);
        
    }

    #home{
        .content{
            display: flex;
            flex-direction: column;
            align-content: center;

            h1{
                position: absolute;
                width: 80vw;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -20%);
                font-size: 3vh;
                line-height: 3vh;
                
            }

            img{
                position: absolute;
                width: 80vw;
                top: 40%;
                left: 10%;
                transform: translate(-10%, -40%);
            }

            p{
                display: inline;
            }

            button{
                display: inline;
            }
        }   
    }

    #functions{
        flex-direction: column;
        justify-content: initial;

        .content{
            position: relative;
        }

        .headline{
            top: 0;
            font-size: 4.5vh;
            width: auto;
            padding-bottom: 8vh;

        }

        .slides{
            position: relative;
            width: 50vw;
            height: 50vw;
            background: radial-gradient(100% 100% at 0% 0%, #434343 0%, #0B0B0B 100%);
            box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
            border-radius: 20px;
        }

        .slide{
            img{
                width: 5vh;
                padding-top: 20%;
            }
    
            P{
                color: #FAFAFA;
                font-size: 1.2vh;
                text-align: center;
                padding-top: 10%;
                margin: 0 10%;
            }
    
            .title{
                font-size: 1.5vh;
            }
        }
    
        .next{
            position: absolute;
            margin-left: 25vw;
            width: 40vw;
            height: 40vw;

            img{
                position: absolute;
                top: 40%;
                right: 5%;
                width: 4vh;
                transform: translate(0%, -50%);
                transform: scaleX(-1);
                opacity: 0.5;
            }   
        }
    
        .prev{
            position: absolute;
            margin-left: -15vw;
            width: 40vw;
            height: 40vw;

            img{
                position: absolute;
                top: 50%;
                left: 5%;
                width: 4vh;
                transform: translate(0%, -50%);
                opacity: 0.5;
            }
        }

        .phone{
            img{
                position: relative;
                padding-top: 5vh;
                width: 50vw;
                height: auto;
                margin: auto;
            }
        }



    }
}


// ANIMATIONS
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes pulsate-bck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
}