* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

nav {
  display: -ms-grid;
  display: grid;
  position: fixed;
  top: 0;
  -ms-grid-columns: 10% 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: white;
  fill: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  color: white;
}

#logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 24px;
}

.hamburger {
  -ms-grid-column-align: end;
      justify-self: end;
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home {
  background: radial-gradient(50% 100% at 50% 0%, #FFFFFF 0%, #939393 100%);
}

#functions {
  background: linear-gradient(179.03deg, #939393 1.16%, #D2C2C2 97.01%);
}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
}

.hero img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.headline {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 100px;
  -webkit-transform: translate(-10%, -70%);
          transform: translate(-10%, -70%);
  color: white;
  z-index: 2;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .close-icon {
    display: none;
  }
  .open .burger-icon {
    display: none;
  }
  .open .close-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: burlywood;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}
/*# sourceMappingURL=styles.css.map */