@font-face {
    font-family: "Roboto";
    src: url("./src/Roboto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 79px;
    text-align: center;
    text-transform: uppercase;
    
    background-color: #565656;
    color: #474040;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #333333;
}

nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    min-height: 10vh;
    color: white;
    fill: white;
    align-items: center;
    z-index: 3;

    .nav-links{
        display: flex;
        justify-content: space-around;
        
        li{
            list-style: none;
        }
        a{
            list-style: none;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 15px;
            color: white;
        }
    }

    .logo{
        width: 15vw;
        height: auto;
    }

    .hamburger{
        display: flex;
    }
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home{
    background: radial-gradient(50% 100% at 50% 0%, #FFFFFF 0%, #939393 100%);
}

#functions{
    background: linear-gradient(179.03deg, #939393 1.16%, #D2C2C2 97.01%);
}

#howto{
    background: linear-gradient(180deg, #D2C2C2 0%, #D5D5D5 100%);
}

#responsive{
    background: linear-gradient(180deg, #FFFFFF 0%, #D5D5D5 0.01%, #FFFFFF 100%);
}

#pricing{
    background: linear-gradient(180deg, #FFFFFF 0%, #7D7D7D 100%);
}

#faq{
    background: linear-gradient(180deg, #7D7D7D 0%, #0E0C0C 100%);
}

#footer{
    background: linear-gradient(180deg, #0E0C0C 0%, #171515 100%);
}

.content{
    height: 100%;
    width: 100%;
    position: relative;

    img{
        position: absolute;
        width: 60vw;
        height: auto;
        top: 40%;
        left: 35%;
        transform: translate(-35%, -40%);
    }

    .headline{
        position: absolute;
        width: 50vw;
        top: 40%;
        left: 10%;
        transform: translate(-10%, -40%);
        z-index: 2;
        pointer-events: none;
    }
}

.pulsate {
	animation: pulsate-bck 8s ease-in-out infinite;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}



@keyframes pulsate-bck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }



@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .close-icon{
        display: none;
    }

    .open .burger-icon{
        display: none;
    }

    .open .close-icon{
        display: block;
    }

    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-active{
        transform: translateX(0%);
        
    }

    .content{
        display: flex;
        flex-direction: column;
        align-content: center;

        h1{
            display: flex;
            align-self: center;
            font-size: 1.2em;
            line-height: normal;
        }

        img{
            display: flex;
            align-self: center;
            width: 80vw;
            top: 40%;
            left: 10%;
            transform: translate(-10%, -40%);
        }
    }
  

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

}