@font-face {
  font-family: "Roboto";
  src: url("./src/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 5vw;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
  background-color: #565656;
  color: #474040;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  pointer-events: none;
}

nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  min-height: 10vh;
  color: white;
  fill: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  color: white;
}

nav .logo {
  width: 15vw;
  height: auto;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

nav .hamburger {
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .hamburger .burger-open {
  display: block;
}

nav .hamburger .burger-close {
  display: none;
}

nav .hamburger.close .burger-open {
  display: none;
}

nav .hamburger.close .burger-close {
  display: block;
}

nav .login {
  font-weight: bold;
  font-size: 1vw;
  color: #2a0001;
  margin-right: 1vw;
}

nav .contrate {
  margin-right: 4vw;
  color: #2a0001;
}

.close .rect {
  display: none;
}

.close ul {
  display: none;
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 30vw;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.open .rect {
  background: radial-gradient(769.35% 62.2% at -123.12% 50%, rgba(42, 0, 1, 0.9) 0%, rgba(81, 30, 10, 0.9) 100%);
  width: 2vw;
  height: 100vh;
  border-radius: 0 20px 20px 0;
  display: block;
}

.open ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.open a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  margin: 3vh 5vw 3vh 2vw;
  color: #2A0001;
}

.open i {
  border-radius: 50%;
  color: #fafafa;
  padding: 0.5vw;
}

.open li {
  list-style: none;
  color: #2A0001;
  font-size: 1vw;
  margin: 3vh 0;
  margin-left: -2vw;
  text-transform: uppercase;
}

.open li:hover i {
  background: #fafafa;
  color: #2A0001;
  margin-left: 1vw;
}

.open li:hover a {
  font-weight: bold;
  color: #2A0001;
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home {
  background: radial-gradient(50% 100% at 50% 0%, #ffffff 0%, #939393 100%);
}

#home .content {
  height: 100%;
  width: 100%;
  position: relative;
}

#home .content img {
  position: absolute;
  width: 55vw;
  height: auto;
  top: 97%;
  left: 90%;
  -webkit-transform: translate(-90%, -90%);
          transform: translate(-90%, -90%);
}

#home .content h1 {
  position: absolute;
  width: 50vw;
  font-size: 4vw;
  line-height: 5vw;
  top: 40%;
  left: 8%;
  -webkit-transform: translate(-10%, -40%);
          transform: translate(-10%, -40%);
  z-index: 2;
  pointer-events: none;
}

#home .content button {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  color: white;
  font-weight: bold;
  top: 80%;
  width: 45vw;
  height: 6vh;
  background: radial-gradient(100% 100% at 0% 0%, #420e0f 0%, #2a0001 100%);
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(255, 255, 255, 0.08);
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  display: none;
}

#home .content button:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

#home .content button:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  -webkit-transition-property: left, top, opacity;
  transition-property: left, top, opacity;
  -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
          transition-duration: 0.7s, 0.7s, 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#home .content button:active:after {
  opacity: 0;
}

#home .content p {
  display: none;
  position: relative;
  top: 87%;
  font-size: 0.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#functions {
  background: linear-gradient(179.03deg, #939393 1.16%, #d2c2c2 97.01%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#functions .content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#functions h1 {
  position: relative;
  width: 80vw;
  font-size: 4vw;
  line-height: 5vw;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -82vh;
}

#functions .headline {
  position: relative;
  width: 50vw;
  font-size: 5vw;
  line-height: 5vw;
  top: -25vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#functions .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#functions .phone img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: auto;
  margin-right: 60vw;
  margin-top: 30vw;
}

#functions .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#functions #functionsCarousel {
  width: 30vw;
  height: 30vw;
  background: radial-gradient(100% 100% at 0% 0%, #434343 0%, #0b0b0b 100%);
  -webkit-box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
          box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
  border-radius: 60px;
  margin-right: 5vw;
}

#functions #functionsCarousel .carousel-inner > .item img {
  width: 6vw;
  height: auto;
  padding-top: 20%;
}

#functions #functionsCarousel .carousel-inner > .item p {
  color: #fafafa;
  font-size: 1.2vw;
  text-align: center;
  padding-top: 10%;
  margin: 0 20%;
}

#functions #functionsCarousel .carousel-inner > .item .title {
  font-size: 1.5vw;
}

#functions #functionsCarousel .carousel-inner > .active,
#functions #functionsCarousel .next,
#functions #functionsCarousel .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#functions .slides {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background: radial-gradient(100% 100% at 0% 0%, #434343 0%, #0b0b0b 100%);
  -webkit-box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
          box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
  border-radius: 60px;
}

#functions .prev-button {
  margin-left: -10vw;
  width: 25vw;
  height: 25vw;
}

#functions .prev-button img {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 4vw;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  opacity: 0.5;
}

#functions .prev-button::after,
#functions .next-button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#functions .next-button {
  margin-left: 15vw;
  width: 25vw;
  height: 25vw;
}

#functions .next-button img {
  position: absolute;
  top: 45%;
  right: 10%;
  width: 4vw;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: 0.5;
}

#howto {
  background: -webkit-gradient(linear, left top, left bottom, from(#d2c2c2), to(#d5d5d5));
  background: linear-gradient(180deg, #d2c2c2 0%, #d5d5d5 100%);
}

#howto div {
  position: absolute;
}

#howto div h1 {
  position: absolute;
  margin: 0;
  font-size: 4vw;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.135em;
  opacity: 0.3;
  background: -webkit-linear-gradient(#6b1416, #2a0001);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#howto div p {
  position: absolute;
  width: 27vw;
  padding-top: 10vw;
  font-size: 2vw;
  pointer-events: none;
  text-align: left;
  color: #333333;
  opacity: 0.9;
}

#howto div .circle {
  position: absolute;
  background-color: #565656;
  border-radius: 50%;
  height: 16vw;
  width: 16vw;
  text-align: center;
  margin-top: 3vw;
}

#howto div .circle i {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 10vw;
  background-color: #565656;
  color: #2a0001;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0.8;
}

#howto div:nth-child(1) {
  left: 50%;
}

#howto div:nth-child(1) .circle {
  margin-left: 27vw;
}

#howto div:nth-child(2) {
  padding-top: 24%;
  left: 5%;
}

#howto div:nth-child(2) p {
  margin-left: 32vw;
  text-align: right;
  width: 40vw;
}

#howto div:nth-child(2) .circle {
  margin-top: 5vw;
}

#howto div:nth-child(3) {
  padding-top: 45%;
  left: 50%;
}

#howto div:nth-child(3) .circle {
  margin-left: 27vw;
}

#responsive {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.01%, #d5d5d5), to(#ffffff));
  background: linear-gradient(180deg, #ffffff 0%, #d5d5d5 0.01%, #ffffff 100%);
  padding-top: 30vh;
}

#responsive .rect {
  position: relative;
  background: radial-gradient(137.69% 556.97% at -9.39% -37.69%, #7c7f83 0%, #d9dbde 37.55%, #63686a 98.44%);
  -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  height: 68vh;
  width: 70vw;
  top: 10vh;
}

#responsive .rect h1 {
  position: relative;
  font-size: 4vw;
  top: 2vh;
  margin: 0;
  padding-right: 2vw;
  text-align: right;
  background: -webkit-linear-gradient(#575656, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#responsive .text .rect-2 {
  position: relative;
  background: radial-gradient(137.69% 556.97% at -9.39% -37.69%, #7c7f83 0%, #d9dbde 37.55%, #63686a 98.44%);
  -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 20px;
  height: 40vh;
  width: 60vw;
  top: -45vh;
  left: 40vw;
}

#responsive .text .rect-2 p {
  position: relative;
  width: 50vw;
  padding-left: 5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#responsive .text img {
  position: relative;
  height: 12vw;
  top: -70vh;
  left: 8vw;
}

#responsive .text .example-desktop {
  margin-left: 5vw;
}

#pricing {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#7d7d7d));
  background: linear-gradient(180deg, #ffffff 0%, #7d7d7d 100%);
}

#pricing .table {
  position: relative;
  background: radial-gradient(100% 100% at 0% 0%, #434343 0%, #0b0b0b 100%);
  border-radius: 60px;
  height: 75vh;
  width: 80vw;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pricing .table .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 0fr 1.4fr;
      grid-template-columns: 1.4fr 0fr 1.4fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
      grid-template-areas: ". . .";
}

#pricing .table .options p {
  color: #fafafa;
  width: 25vw;
  display: inline;
  text-align: justify;
  font-size: 1vw;
}

#pricing .table .options .title {
  margin: 5vh auto;
  position: relative;
  padding-left: 10vw;
  display: block;
  font-size: 2vw;
}

#pricing .table .options .line {
  border-left: 1px solid #fafafa;
  margin: 2vh 0;
}

#pricing .table .options .basic,
#pricing .table .options .pro {
  margin: 0 5vw;
}

#pricing .table .options .price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 0fr 1.4fr;
      grid-template-columns: 1.4fr 0fr 1.4fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
      grid-template-areas: ". . .";
  margin-top: 5vh;
}

#pricing .table .options .price p {
  text-align: center;
  max-width: 10vw;
  -ms-grid-column-align: center;
      justify-self: center;
}

#pricing .table .options .price span {
  font-size: 0.5vw;
  display: inline;
}

#pricing .table .options .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1vh;
}

#pricing .table .options .icons i {
  font-size: 2vw;
  color: #fafafa;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pricing .table .options .icons i:nth-child(2) {
  padding-left: 2vw;
}

#pricing .table .cadastro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.1fr 2fr;
      grid-template-rows: 0.1fr 2fr;
  gap: 1px 1px;
      grid-template-areas: "." ".";
  justify-items: center;
  margin-top: 5vh;
}

#pricing .table .cadastro p {
  font-size: 0.8vw;
  text-align: center;
  width: auto;
  display: block;
}

#pricing .table .cadastro button {
  background: radial-gradient(100% 100% at 0% 0%, #6c1a1c 0%, #310405 100%);
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(255, 255, 255, 0.08);
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: bold;
  color: #fafafa;
  width: 20vw;
  height: 5vw;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
  border: none;
  margin-bottom: 1vh;
}

#faq {
  background: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#0e0c0c));
  background: linear-gradient(180deg, #7d7d7d 0%, #0e0c0c 100%);
  min-height: 100vh;
}

#faq h1 {
  position: relative;
  width: 80vw;
  font-size: 4vw;
  line-height: 5vw;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-bottom: 3vh;
}

#faq .accordion {
  width: 80vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

#faq .accordion .card {
  background: #fafafa;
  border-radius: 5px;
}

#faq .accordion .card .card-header .btn-link {
  font-weight: 400;
  color: black;
  text-decoration: none;
}

#faq .accordion .card .card-header button {
  width: 100%;
  text-align: left;
}

#faq .accordion .card .card-header spam {
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
}

#faq .accordion .collapse,
#faq .accordion .collapsing > .card-body {
  background: #cccccc;
  border-radius: 5px;
}

#faq .accordion .collapse p,
#faq .accordion .collapsing > .card-body p {
  font-size: 1vw;
}

#footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#0e0c0c), to(#171515));
  background: linear-gradient(180deg, #0e0c0c 0%, #171515 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fafafa;
  padding-bottom: 2vw;
}

#footer p {
  text-transform: none;
  display: inline;
  color: #fafafa;
  font-size: 1vw;
}

#footer .description {
  max-width: 30vw;
  margin: auto 3vw;
  line-height: 1.5em;
}

#footer div {
  margin-right: 5vw;
}

#footer div p {
  font-size: 1.2vw;
}

#footer div a {
  margin-top: 0.5vw;
  font-size: 1vw;
}

#footer div .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer div .icons a:nth-child(2) {
  padding-left: 1.5vw;
}

#footer div .adress {
  font-size: 0.9vw;
  display: block;
}

#footer div iframe {
  width: 100%;
  max-height: 5vw;
}

#footer a {
  text-decoration: none;
  color: inherit;
  display: block;
}

#footer .desktop-only {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .mobile-only {
  display: none;
}

#register3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#939393), to(#717070));
  background: linear-gradient(90deg, #939393 0%, #717070 100%);
}

#register3 .logo {
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
}

#register3 .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
}

#register3 .progress-bar hr {
  width: 100%;
  margin: 0.6vh -0.4vw 0 -0.4vw;
  border: none;
  color: black;
}

#register3 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  pointer-events: none;
  background-color: #565656;
  color: #474040;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 20%;
  margin-right: 20%;
}

#register3 h2 {
  background-color: #565656;
  color: #474040;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 5%;
  display: inline;
}

#register3 form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
      grid-template-areas: ". .";
  width: 80%;
}

#register3 input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  background-color: inherit;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  margin: 2vh 10vw 2vh 10vw;
  font-size: 1vw;
  margin-left: 18%;
  border: none;
}

#register3 .name {
  border-bottom: red solid 2px;
}

#register3 .color {
  width: 2vw;
  height: 2vw;
  border: #151515 solid 2px;
  border-radius: 5px;
  -webkit-box-shadow: -2px -2px 12px rgba(255, 255, 255, 0.08), 2px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: -2px -2px 12px rgba(255, 255, 255, 0.08), 2px 4px 6px rgba(0, 0, 0, 0.15);
}

#register3 h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  pointer-events: none;
  background-color: #565656;
  color: #474040;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 1%;
  margin-left: 40%;
  margin-bottom: 4%;
  text-align: center;
}

#register3 button {
  background: radial-gradient(100% 100% at 0% 0%, #6c1a1c 0%, #310405 100%);
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(255, 255, 255, 0.08);
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: bold;
  color: #fafafa;
  width: 20vw;
  height: 5vw;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
  border: none;
  text-align: center;
}

#register3 .visualizar {
  margin-left: 14%;
  background: none;
  color: #6c1a1c;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  text-shadow: none;
  border: none;
}

#register3 .salvar {
  margin-left: 5%;
  background: none;
  color: #6c1a1c;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  text-shadow: none;
  border: none;
}

#register3 .cadastrar {
  margin-left: 5%;
}

#register3 .form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

#register3 p {
  margin: 0;
  margin-top: 2vh;
  width: 40%;
  font-size: 0.8vw;
  text-align: center;
}

#register3 .preview {
  width: 10vw;
  height: 10vw;
  background: radial-gradient(100% 100% at 0% 0%, #434343 0%, #0b0b0b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register3 .preview-logo {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: blue;
  margin-top: 1vw;
  z-index: 3;
}

#register3 .preview-pri {
  width: 7vw;
  height: 6vw;
  background: #3ec6ff;
  margin-top: -1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register3 .preview-sec {
  width: 2vw;
  height: 1vw;
  background: #ec4c4c;
  margin-top: 4vw;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 100vw;
  }
  nav .hamburger {
    display: block;
    cursor: pointer;
  }
  nav .hamburger .close-icon {
    display: none;
  }
  nav .open .burger-icon {
    display: none;
  }
  nav .open .close-icon {
    display: block;
  }
  nav .login {
    font-weight: bold;
    font-size: 1vw;
    color: #2a0001;
    margin-right: 1vw;
  }
  nav .contrate {
    display: none;
  }
  nav .logo {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 40vw;
  }
  .open .rect {
    width: 100%;
  }
  #home .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #home .content h1 {
    position: absolute;
    width: 80vw;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
    font-size: 3vh;
    line-height: 3vh;
  }
  #home .content img {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #home .content p {
    display: inline;
  }
  #home .content button {
    display: inline;
    margin-top: 10vh;
  }
  #functions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  #functions h1 {
    position: relative;
    text-align: center;
    width: 80vw;
    top: 0;
    bottom: 10%;
    left: 42%;
    right: 42%;
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
    font-size: 3vh;
    line-height: 3vh;
    margin-top: 0;
  }
  #functions .content {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #functions .container {
    margin-left: 20%;
    margin-top: 7vh;
  }
  #functions #functionsCarousel {
    border-radius: 20px;
    height: 25vh;
    width: 25vh;
  }
  #functions #functionsCarousel .carousel-inner .item img {
    width: 5vh;
  }
  #functions #functionsCarousel .carousel-inner .item .title {
    font-size: 1.8vh;
  }
  #functions #functionsCarousel .carousel-inner .item p {
    font-size: 0.8vh;
  }
  #functions .headline {
    top: 0;
    font-size: 4vh;
    width: auto;
    padding-bottom: 5vh;
  }
  #functions .slides {
    position: relative;
    width: 22vh;
    height: 22vh;
    background: radial-gradient(100% 100% at 0% 0%, #434343 0%, #0b0b0b 100%);
    -webkit-box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
            box-shadow: -4px 4px 4px #939393, 4px 4px 4px #939393;
    border-radius: 20px;
  }
  #functions .slides img {
    position: absolute;
    width: 4vh;
    opacity: 0.5;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  #functions .next-button {
    position: absolute;
    margin-left: 22vw;
  }
  #functions .next-button img {
    top: 40%;
    right: 5%;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  #functions .prev-button {
    position: absolute;
    margin-left: -15vw;
  }
  #functions .prev-button img {
    top: 50%;
    left: 5%;
  }
  #functions .phone img {
    position: relative;
    padding-top: 10vh;
    width: 60vw;
    height: auto;
    margin: auto;
    padding-bottom: 15vh;
    padding-top: 15vh;
  }
  #howto div {
    margin-top: 15vh;
  }
  #howto div h1 {
    font-size: 3vh;
    text-align: right;
  }
  #responsive p {
    font-size: 2vw;
  }
  #pricing {
    margin-top: 10vh;
  }
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer div {
    margin-right: 5vw;
  }
  #footer div p {
    font-size: 1vh;
  }
  #footer div a {
    font-size: 0.8vh;
  }
  #footer div .description {
    margin: 2vw 5vw;
    padding-right: 2vw;
  }
  #footer div .adress {
    font-size: 1vh;
  }
  #footer .desktop-only {
    display: none;
  }
  #footer .mobile-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .mobile-only .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer .mobile-only .links {
    padding-left: 2vw;
  }
  #footer .mobile-only .description {
    max-width: 100vw;
  }
  #footer .map {
    margin-left: 5vw;
    margin-top: 2vw;
  }
  #footer .map iframe {
    width: 100%;
    max-height: 10vh;
  }
  #register3 img {
    top: 110%;
    left: 36%;
  }
  #register3 h3 {
    top: 130%;
    left: 36%;
  }
  #register3 button {
    top: 10%;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
            transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
  }
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
            transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */